<html>
    <head>
        <title>Matias Alvarez</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
    <header class="header">
      <div class="topnav">
        <nav>
          <ul>
          <button><a class="active" href="/">Home</a></button>
          <button><a href="/list">List</a></button>
         </ul>
        </nav>
      </div>
    </header>
    <h1>To Do List</h1>


     {% block content %}{% endblock %}

    </body>
</html>