<html>
    <head>
        <title>Matias Alvarez</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
    <header class="header">
      <div class="topnav">

        <nav>
          <ul>
          <a class="active" href="/">Home</a>
          <a class="active" href="/list">List</a>
          <a class="active" href="/login">Login</a>
          <a class="active" href="/signup">SignUp</a>
         </ul>
         <a href="/" id="logo"><img src="static/images/chihuahua.png" alt="chihuahua" style="width:2em; height:2em;"></a>
        </nav>
      </div>
    </header>

    <h1>NOTEPAD</h1>
    <hr>

     {% block content %}{% endblock %}

    </body>
</html>