{% extends "base.html" %}

{% block content %}
<h3>My Weekly Events</h3>

  <table class="center">
    <tr>
      <th class="chart">Time</th>
      <th class="chart">Event</th>
      <th class="chart">Description</th>
    </tr>
    <tr class="info">
      <td>10:00am</td>
      <td>Ferro Beach Soccer Training</td>
      <td>Team practice. Preparing for Sunday's game.</td>
    </tr>
    <tr class="info">
      <td>12:30pm</td>
      <td>Lunch date with Fermin</td>
      <td>Discuss beach soccer tactics and some python.</td>
    </tr>
  </table>

  {% endblock %}
