<html>
<head>
    <title>My To Do List</title>
</head>
<body>

    <h1>My To Do List</h1>
    <h2>My Weekly Events</h2>

        <table>
          <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>10:00am</td>
            <td>Ferro Beach Soccer Training</td>
            <td>Team practice. Preparing for Sunday's game.</td>
          </tr>
          <tr>
            <td>12:30pm</td>
            <td>Lunch date with Fermin</td>
            <td>Discuss beach soccer tactics and some python.</td>
          </tr>
        </table>
</body>
</html>
