{% extends "base.html" %}

{% block content %}

  <h1>Sign Up</h1>

   {% from "_formhelpers.html" import render_field %}
<form method=post>
  <!-- <dl> -->
    <p>{{ render_field(form.username, class_="row") }}</p>
    <p>{{ render_field(form.email, class_="row") }}</p>
    <p>{{ render_field(form.password, class_="row") }}</p>
    <p>{{ render_field(form.confirm, class_="row") }}</p>
    <!-- {{ render_field(form.accept_tos) }} -->
  <!-- </dl> -->
  <p>{{ form.submit(class_="submit") }}</p>
<!--   <p><input class_="submit" type=submit value=SignUp>
</form>

{% endblock %}