body{
  background-color: #d4d1ce;
  text-align: center;   
  margin: 0;     
}
header{
  background-color: #333;

}
button{
  background-color: #060;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #27ef18;
}




.row {
  margin-bottom: 10px;
}
label {
  justify-content: center;
  margin-bottom: 10px;
}

header nav div ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul a{
  color: white;
}
.submit {
  background-color: #060;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}
.submit:hover{
  background-color: #27ef18;
}
