body{
  background-color: #fff8f1;
  text-align: center;   
  margin: 0;
  color: #D48166;
  font-family: "Roboto";
}

/*header{
  background-color: #333;
  color: #a52a2a;

}*/
.active{
color: #D48166;
}
a{
  text-decoration: none;
  transition: color 0.3s;
  flex: 50%;

}
a:hover {
  color: #FFF;
}

th, td {
          padding:  5px;
          border: 1px solid black;
          border-collapse: collapse;
}

nav {
  height: 50px;
  padding-top: 2px;
/*  background-color: #D48166;*/
  background-color: #faebd7;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 2;
}

.row {
  margin-bottom: 10px;
  height: 30px;
  width: 300px;
  background-color: #faebd7;
  border-color: #D48166;
}

header nav div ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  padding: 0px;
}

ul a{
  display: inline;

}

/*input{
    height: 30px;
    width: 300px;
    background-color: #faebd7;
    border-color: #D48166;
}*/

.submit {
  background-color: #D48166;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submit:hover{
  background-color: #faebd7;
  color: #D48166;
}
.center{
  width: 50%;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
}
  
table.center {
  margin-left: auto; 
  margin-right: auto;

}

.chart{
  font-weight: bolder;
  color:  #D48166;
  padding: 10px;
}

.info{
  padding:  5px;
  color:  #D48166;
  font-size: 15px;
}

.coco{
  font-size: 12px;
}

#submit:hover{
  background-color: #faebd7;
  color: #D48166;
}

#logo{
  grid-column: 3;
  justify-content: center;
  padding-top: 8px;
}