body{
  background-color: #fff8f1;
  text-align: center;   
  margin: 0;
  color: #a52a2a;
  font-family: "Roboto";
}
/*header{
  background-color: #333;
  color: #a52a2a;

}*/
.active{
  color: #a52a2a;
}
a{
  text-decoration: none;
  transition: color 0.3s;
  flex: 50%;

}
a:hover {
  color: #FFF;
}

th, td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
}

nav {
  height: 50px;
  padding-top: 2px;
  background-color: #faebd7;
}

.row {
  margin-bottom: 10px;
}



header nav div ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul{
  padding: 0px;
}

ul a{
  display: inline;

}

.submit {
  background-color: #a52a2a;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submit:hover{
  background-color: #faebd7;
  color: #a52a2a;
}
.center{
  width: 50%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  
table.center {
  margin-left: auto; 
  margin-right: auto;

}

