body{
  background-color: #fbfdfb;
  text-align: center;   
  margin: 0;
  color: #a52a2a;
  font-family: "Roboto";
}
header{
  background-color: #333;

}
button{
  background-color: #060;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #27ef18;
}

th, td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
}

nav {
  height: 50px;
  padding-top: 2px;
  background-color: #faebd7;
}

.row {
  margin-bottom: 10px;
}

label {
  justify-content: center;
  margin-bottom: 10px;
}

header nav div ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a{
  color: white;
}

.submit {
  background-color: #060;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submit:hover{
  background-color: #27ef18;
}


